[Unit]
Description=drizzle
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/drizzle/drizzle.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
