label.time-label,
label.button-label,
input[type="submit"],
input[type="button"],
button {
  padding: 1ex;
  margin: 1ex 0;
  min-width: 5em;
  text-align: center;
  text-shadow: 1px 1px lavender;
  background: white;
  border-radius: 15px;
  border-width: 1px;
  white-space: normal;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  -moz-box-shadow: 0px 9px 0px navy, 0px 9px 25px rgba(0,0,0,.7);
  -webkit-box-shadow: 0px 9px 0px navy, 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px navy, 0px 9px 25px rgba(0,0,0,.7);
}

label.time-label:active,
label.button-label:active,
input[type="submit"]:active,
input[type="button"]:active,
button:active {
  box-shadow: 0px 3px 0px navy, 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}

input[type="submit"].sticky,
input[type="button"].sticky,
button.sticky {
  position: sticky;
  top: 1ex;
  left: 90vw;
  margin: -1ex 0;
  font-size: calc(14pt + 1vw);
}

input[type="submit"].sticky:active,
input[type="button"].sticky:active,
button.sticky:active {
  top: calc(1ex + 6px);
}
