section#dashboard {
  width: 100%;
  background: snow;
  border: 1px solid darkgray;
}

section#dashboard > p {
  font-size: calc(12pt + 1vw);
}

section#dashboard > h2#datetime {
  margin: 1ex;
}

section#dashboard > form {
  margin: 3ex;
}

section#dashboard > form > div#time-wrapper > fieldset,
section#dashboard > form > div#button-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
  border: none;
}

section#dashboard > form > div#button-wrapper > div.button-box {
  flex: 1 1 anchor-size;
}

section#dashboard > form > div#button-wrapper > div.button-box > label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

section#dashboard > form > div#time-wrapper > fieldset > label.time-label {
  flex: 1 1 1px;
}

section#dashboard > form > div#time-wrapper > fieldset > label.time-label,
section#dashboard > form > div#button-wrapper > div.button-box > input.relay[type="submit"] {
  padding: 2.5vw 2vw;
  margin: 1ex;
  min-width: 1px;
}

section#dashboard > form > div#time-wrapper fieldset > input[type="radio"]:checked+label,
section#dashboard > form > div#button-wrapper > div.button-box > input.relay[type="submit"].running {
  color: white;
  text-shadow: 1px 1px navy;
  border-color: cornflowerblue;
  background-image: linear-gradient(48deg, deepskyblue, dodgerblue);
}

section#dashboard > form > div.table-wrapper {
  margin: 2em;
}

section#dashboard > form > div#range-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

section#dashboard > form > div#range-wrapper > input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 5.5ex;
  background: transparent;
}

section#dashboard > form > div#range-wrapper > input[type="range"]::-webkit-slider-runnable-track,
section#dashboard > form > div#range-wrapper > input[type="range"]::-moz-range-track {
  height: 1em;
  background: navy;
  border-radius: 16px;
}

section#dashboard > form > div#range-wrapper > input[type="range"]::-webkit-slider-thumb,
section#dashboard > form > div#range-wrapper > input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2em;
  width: 2ex;
  border-radius: 16px;
}

section#dashboard > form > div#range-wrapper > output.range-bubble {
  background: green;
  color: white;
  font-size: 24pt;
  padding: 8px 18px;
  position: absolute;
  border: 1px solid darkgreen;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
 }
 
section#dashboard > form > div#range-wrapper > output.range-bubble::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 10px;
  background: green;
  top: 100%;
  left: 50%;
}
