section#dashboard {
  width: 100%;
  background: snow;
  border: 1px solid darkgray;
}

section#dashboard p {
  font-size: calc(12pt + 1vw);
}

section#dashboard h2#datetime {
  margin: 1ex;
}

section#dashboard form {
  margin: 3ex;
}

div#button-wrapper,
div#time-wrapper fieldset{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
  border: none;
}

div.button-box {
  flex: 1 1 anchor-size;
}

div.button-box label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

div#time-wrapper label.time-label{
  flex: 1 1 1px;
}

div#button-wrapper input.relay[type="submit"],
div#time-wrapper label.time-label{
  padding: 2.5vw 2vw;
  margin: 1ex;
  min-width: 1px;
}

div#time-wrapper input[type="radio"]:checked+label,
div#button-wrapper div.button-box input[type="submit"].running {
  color: white;
  text-shadow: 1px 1px navy;
  border-color: cornflowerblue;
  background-image: linear-gradient(48deg, deepskyblue, dodgerblue);
}

div.table-wrapper {
  margin: 2em;
}

div#range-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

input[type="range"] {
  width: 100%;
  margin-top: 5ex;
}

.range-bubble {
  background: green;
  color: white;
  font-size: 24pt;
  padding: 8px 18px;
  position: absolute;
  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
 }
 
 .range-bubble::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 10px;
  background: green;
  top: 100%;
  left: 50%;
}
