form input[type="text"] {
  min-width: 100%;
  max-width: 100%;
  min-height: 3ex;
}

form textarea.name {
  height: 2em;
}

form th label{
  color: floralwhite;
}

form table{
  margin-bottom: 0;
}

form li.boolean, form li.number {
  width: 49%;
  display: inline-block;
  margin: 0.5ex 0;
}

form li.boolean label, form li.number label {
  display: inline-block;
  width: 72%;
  }
  
form li.boolean input, form li.number input {
  width: 24%;
}
