nav {
  width: 100%;
}

header {
  border-top: 3px solid black;
  border-bottom: 3px solid #eee;
}

header nav {
  font-size: 24pt;
  background-color: #24a;
  /* border-top: 4px solid #115; */
  border-bottom: 4px solid lightgrey;
}

header nav ul {
  font-size: 0;
  display: flex;
}

header nav ul li {
  flex-grow: 6;
  display: table;
  text-align: left;
  font-size: 2.25vw;
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
  padding: 0 1.5ex;
  margin: 0;
  border-left: 2px solid #015;
  border-right: 2px solid #99f;
}

header nav ul li a {
  display: table-cell;
  color: white;
  vertical-align: bottom;
  padding-top: 4px;
  padding-bottom: 8px;
  min-width: 10vw;
  max-width: 12.5vw;
  overflow: clip;
}

header nav ul li.corner a, header nav ul li.filler a {
  color: transparent;
  min-width: 1px;
}

header nav ul li.filler {
  flex-grow: 1;
}

header nav ul li.drizzle {
  background-color: #115;
}

header nav ul li.drizzle a,
header nav ul li a.icon {
  min-width: 1px;
  text-align: center;
}

header nav ul li.current {
  background-image: linear-gradient(0deg, #222, #115);
  border-bottom: 4px solid #88c;
  padding-bottom: 0;
  /* font-weight: bold; */
}

header nav ul li.current a {
  padding-bottom: 4px;
}

header nav li a.icon svg {
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  text-align: right;
  vertical-align: middle;
  fill: white;
  stroke: black;
  stroke-width: 0px;
}

ul nav a {
  margin-right: 1.5ex;
}

ul nav a:not(:last-child)::after {
  content:"|";
  color: navy;
  position: relative;
  right:-1ex;
  top:0;
  height:100%;
}

