table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table caption {
  text-align: left;
  margin-bottom: 1ex;
}

table td, table th {
  border: 1px solid lightgray;
  padding: 1ex;
}

table th[scope="col"] {
  font-size: 16pt;
}

table th[scope="row"] {
  font-size: 14pt;
}

tr:nth-child(even) {
  background-color: floralwhite;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

tr:hover {
  background-color: white;
}

th {
  background-color:navy;
  color: snow;
}
