/* Globals and containers */

body {
  width: 100%;
  min-height: 100vh;
  font-family: Geneva, Verdana, sans-serif;
  text-align: left;
  background-image: linear-gradient(azure, lightskyblue);
}

main {
  width: 90%;
  margin: 1em auto 0 auto;
}

main#messages {
  padding: 1em 0;
}

div.box {
  width: 100%;
  margin: 0em auto;
}

* {
  margin: 0;
  padding: 0;
}

/* Typography */

h1, h2, h3, p {
  text-align: center;
}

h1 {
  color: midnightblue;
  font-size: 64pt;
}

h2 {
  color: black;
  font-size: 36pt;
}

td, li, input, label, textarea {
  color: navy;
  font-size: 18pt;
}

li.name, h3, p {
  color: navy;
  font-size: 36pt;
}

li.name::after {
  content: "";
  height: 2px;
  background: navy;
  display: block;
  margin-bottom: 0.25ex;
}

div.active ul.entry li.name::before {
  display: inline-block;
  margin-right: 0.5ex;
  content: "(Active) ";
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Orientation and Colour */

h2, h3 {
  margin-bottom: 1ex;
}

ul#messages li {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14pt;
  margin: 0.5em 0;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #ddd
}

tr:nth-child(even) {
  background-color: #eee
}

tr:hover {
  background-color: #fff;
}

th {
  background-color:navy;
  color: #eee;
}

nav {
  width: 100%;
}

header {
  border-top: 3px solid black;
  border-bottom: 3px solid #eee;
}

header nav {
  height: 3ex;
  font-size: 24pt;
  background-color: #24a;
  border-top: 4px solid #115;
  border-bottom: 4px solid lightgrey;
}

header nav ul {
  font-size: 0;
  display: flex;
}

header nav ul li {
  text-align: left;
  font-size: 24pt;
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
  height: 3ex;
  padding: 0 1.5ex;
  border-left: 2px solid #015;
  border-right: 2px solid #99f;
}

header nav ul li a {
  color: white;
  vertical-align: sub;
}

header nav ul li.corner a, header nav ul li.filler a {
  color: transparent;
}

header nav ul li.filler {
  flex-grow: 1;
}

header nav ul li.drizzle {
  background-color: #115;
}

header nav ul li.current {
  background-image: linear-gradient(0deg, #222, #115);
  border-bottom: 4px solid #aaf;
  font-weight: bold;
}

header nav li a.icon svg {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  fill: white;
  stroke: black;
  stroke-width: 0px;
}

ul nav a {
  margin-right: 1.5ex;
}

ul nav a:not(:last-child)::after {
  content:"|";
  color: navy;
  position: relative;
  right:-1ex;
  top:0;
  height:100%;
}

ul {
  list-style-type: none;
}

ul.entry {
  width: 90%;
  margin: 1em auto;
  padding: 1em 0;
}

/* Classes */

.gradient {
  background-image: linear-gradient(48deg, honeydew, floralwhite);
  border-radius: 15px;
  border-width: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.active {
  color: white;
  border-width: 2px;
  border-color: cornflowerblue;
  background-image: linear-gradient(48deg, floralwhite, skyblue);
}

.append {
  font-size: 24pt;
  text-align: center;
}

.stop, .delete, .error, .warning, .red {
  color: red;
}

.edit, .caution, .orange {
  color: darkOrange;
}

.deactivate, .navy {
  color: navy;
}

.activate .run, .success, .green {
  color: green;
}

.white {
  color: white;
}

.inactive {
  display: none;
}

/* Inputs */

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 3ex;
}

textarea.name {
  height: 3ex;
}

input.zone[type="submit"] {
  width: 40vw;
  height: 20vw;
  margin: 2.0vw;
  color: navy;
  font-size: 36pt;
  border-radius: 5vw;
  border-width: 1px;
}

.range-wrapper {
  position: relative;
  margin 0 auto 3rem;
}

input[type="range"] {
  width: 100%;
  margin: 3ex 0;
}

.range-bubble {
  background: green;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
 }
 
 .range-bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: green;
  top: -1px;
  left: 50%;
}

input.active {
  color: white;
  border-color: cornflowerblue;
  background-image: linear-gradient(48deg, deepskyblue, dodgerblue);
}

input.cancel {
  color: white;
  border-color: indianred;
  background-image: linear-gradient(48deg, crimson, darkred);
  font-size: 24pt;
}

input.submit {
  color: white;
  border-color: palegreen;
  background-image: linear-gradient(48deg, forestgreen, darkgreen);
  font-size: 24pt;
}

input:active {
  color: white !important;
  background: powderblue;
  border-color: aliceblue !important;
}

input.cancel:active {
  color: white !important;
  background: maroon;
  border-color: firebrick !important;
}

input.submit:active {
  color: white !important;
  background: limegreen;
  border-color: chartreuse !important;
}
