body {
  width: 100%;
  font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  background-image: linear-gradient(white, blue);
}

* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 48pt;
}

input[type="button"] {
  width: 46%;
  margin: 1%;
  padding: 4ex 1ex;
  font-size: 24pt;
  background-image: linear-gradient(48deg, lightblue, white);
  border-radius: 1em;
  border-width: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

input.active {
  color: white;
  border-color: blue;
  background-image: linear-gradient(48deg, lightblue, blue);
}

input.cancel {
  color: white;
  border-color: red;
  background-image: linear-gradient(48deg, red, darkred);
}

input:active {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
