<!doctype html>
<html>
  <head>
{%- block head %}
    <title>{% block title %}{% endblock %} - Drizzle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/status.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock %}
  </head>
  <body>
{% include "navbar.html" %}
{% include "messages.html" %}
    <main id="content">
      {%- block content %}{% endblock %}
    </main> 
  </body>
</html>
