<!doctype html>
<html>
  <head>
{%- block head %}
    <title>{% block title %}{% endblock %} - Drizzle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{%- endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="corner"><a>_</a></li>
          <li class="drizzle">
            <a href="{{ url_for('index') }}">Drizzle</a>
          </li>
          <li{% if subject == 'time' or subject == 'zone' %} class="current"{% endif %}>
            <a href="{{ url_for('zone.zone_select') }}">Zones</a>
          </li>
          <li{% if subject == 'sequence' %} class="current"{% endif %}>
            <a href="{{ url_for('sequence.list_sequences') }}">Sequences</a>
          </li>
          <li>
            <a>Schedule</a>
          </li>
          <li class="filler"><a>_</a></li>
          <li>
            <a class="icon">
              <svg viewbox="0 0 14 16" width="28" height="28">
                <path id="gear" d="m14,9.3l0,-2.57l-1.575,-0.264c-0.117,-0.44 -0.292,-0.848 -0.496,-1.2l0.93,-1.285l-1.81,-1.84l-1.31,0.908c-0.38,-0.205 -0.79,-0.38 -1.196,-0.497l-0.259,-1.552l-2.568,0l-0.263,1.578c-0.437,0.117 -0.816,0.293 -1.196,0.497l-1.282,-0.905l-1.838,1.81l0.934,1.287c-0.2,0.38 -0.376,0.79 -0.493,1.228l-1.578,0.235l0,2.57l1.575,0.264c0.117,0.438 0.292,0.818 0.496,1.198l-0.93,1.315l1.809,1.813l1.312,-0.938c0.38,0.205 0.787,0.38 1.224,0.497l0.26,1.551l2.566,0l0.263,-1.578c0.408,-0.117 0.817,-0.293 1.196,-0.497l1.315,0.935l1.81,-1.812l-0.935,-1.315c0.203,-0.38 0.38,-0.76 0.495,-1.2l1.544,-0.23l0,-0.003zm-7,1.407c-1.488,0 -2.683,-1.2 -2.683,-2.69s1.225,-2.69 2.683,-2.69c1.458,0 2.683,1.198 2.683,2.69c0,1.49 -1.195,2.688 -2.683,2.688l0,0.002z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {%- with messages = get_flashed_messages(with_categories=true) %}
      {%- if messages %}
    <main id="messages" class="gradient">
      <ul id="messages" class="messages">
        {%- for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {%- endfor %}
      </ul>
    </main>
      {%- endif %}
    {%- endwith %}
    <main id="content">
      {%- block content %}{% endblock %}
    </main> 
  </body>
</html>
