<!doctype html>
<html>
  <head>
{%- block head %}
    <title>{% block title %}{% endblock title %} - Drizzle</title>
{% set styles = [
    'base',
    'buttons',
    'footer',
    'messages',
    'navbar',
    'status',
    'tables',
    'typography',
] %}
{% for style in styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' +
    style + '.css') }}">
{% endfor %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' +
    self._TemplateReference__context.name.split('.')[0] +
    '.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock head %}
  </head>
  <body>
{% include "navbar.html" %}
{% include "messages.html" %}
    <main id="content">
      {%- block content %}{% endblock content %}
    </main> 
{% include "footer.html" %}
  </body>
</html>
