{% extends "base.html" %}
  {% block title %}{{ subject | capitalize }} Menu{% endblock %}
  {% block content %}
      <section id="dashboard" class="rounded">
        <h2 id="datetime" class="datetime">{{ datetime }}</h2>

    {# Relay control component #}
        <form method="post">
    {%- if config["TIME_SELECTOR"] == "buttons" %}
          <div class="time-wrapper" id="time-wrapper">
            <fieldset>
      {%- for time in times %}
              <input type="radio" class="hidden" id="minutes-{{ time }}" name="minutes" value="{{ time }}" {% if loop.index == 1 %}checked{% endif -%} />
              <label for="minutes-{{ time }}" class="time-label">{{ time }}</label>
      {%- endfor %}
            </fieldset>
    {%- elif config["TIME_SELECTOR"] == "slider" %}
          <div class="range-wrapper" id="range-wrapper">
            <input type="range" class="range" id="minutes-slider" name="minutes" value={{ config["RUNNING_TIMES"][0].time }} min=1 max={{ config["MAX_TIME"] }} />
            <output class="range-bubble shadow" id="range-bubble"></output>
    {%- endif %}
          </div>
          <div class="button-wrapper" id="button-wrapper">
    {%- for label, action, endpoint, arguments, confirm, running, visible, remaining in relays %}
      {%- if visible %}
            <div class="button-box">
              <br />
              <label for="{{ label }}" class="relay-label
          {%- if running %} running-label">{{ remaining }}
          {%- else -%}
            ">Click to turn on
          {%- endif -%}
              </label>
              <br />
              <input type="submit" value="{{ label }}" class="relay
          {%- if running %} running{% endif -%}
            " name="{{ label }}" onclick="
          {%- if confirm %}return window.confirm('{{ action | capitalize }} {{ config.RELAY_NAME }} {{ label | replace("'", "’") }}?'){% endif -%}
              " formaction="{{ url_for(endpoint, **arguments) }}" /><br />
            </div>
      {%- endif %}
    {%- endfor -%}
          </div>
        </form>
        <p>Maximum number of concurrently running relays allowed: {{ config.MAX_CONCURRENT }}</p>

        <div class="table-wrapper">
    {# Sequence control component #}
          <table id="sequencer" class="shadow">
            <thead>
              <tr>
                <th scope="col">{{ config.SEQUITUR_NAME | pluralize | capitalize }}</th>
                <th scope="col">Current {{ config.RELAY_NAME }}</th>
                <th scope="col">Time remaining</th>
                <th scope="col">Start/Stop</th>
              </tr>
            </thead>
            <tbody>
    {%- for label, action, endpoint, arguments, confirm, running, current, remaining in sequences %}
              <tr>
                <th scope="row">{{ label | capitalize }}</th>
                <td>{{ current | capitalize }}</td>
                <td{% if running %} class="running-label"{% endif %}>{{ remaining }}</td>
                <td><a class="
    {%- if running %}stop{% else %}start{% endif -%}
    {%- if running %} running{% endif -%}
                " name="{{ label }}" onclick="
    {%- if confirm %}if(window.confirm('{{ action | capitalize }} {{ config.SEQUITUR_NAME }} {{ label | replace("'", "’") }}?')){{ '{' }}
    {%- endif %}window.open('{{ url_for(endpoint, **arguments) }}','_parent')
    {%- if confirm %}{{ '}' }}"{% endif %}>{{ action }}</a></td>
              </tr>
    {%- endfor -%}
            </tbody>
          </table>

    {# Schedule control component #}
          <table id="scheduler" class="shadow">
            <thead>
              <tr>
                <th scope="col">{{ config.SCHEDULE_NAME | pluralize | capitalize }}</th>
                <th scope="col">Next {{ config.SEQUITUR_NAME }}</th>
                <th scope="col">Next run time</th>
                <th scope="col">Activate/Deactivate</th>
              </tr>
            </thead>
            <tbody>
    {%- for label, action, endpoint, arguments, confirm, running, current, remaining in schedules %}
              <tr>
                <th scope="row">{{ label | capitalize }}</th>
                <td>{{ current | capitalize }}</td>
                <td{% if running %} class="running"{% endif %}>{{ remaining }}</td>
                <td><a class="{{ action }}
    {%- if running %} running{% endif -%}
                " name="{{ label }}" onclick="
    {%- if confirm %}if(window.confirm('{{ action | capitalize }} {{ config.SCHEDULE_NAME }} {{ label | replace("'", "’") }}?')){{ '{' }}
    {%- endif %}window.open('{{ url_for(endpoint, **arguments) }}','_parent')
    {%- if confirm %}{{ '}' }}"{% endif %}>{{ action }}</a></td>
              </tr>
    {%- endfor -%}
            </tbody>
          </table>
        </div>
      </section>
      <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
  {% endblock %}
