{% extends "base.html" %}
  {% block title %}Edit {{ subject | capitalize }}
    {%- if form["name"] is defined %} "{{ form["name"].data | capitalize }}"{% endif %}
  {%- endblock title %}
  {% block content %}
      <script src="{{ url_for('static', filename='edit.js') }}"></script>
    {%- if title is defined %}
      <h2>{{ title | capitalize }}</h2>
    {%- endif %}
    {%- if describe is defined %}
      <p class="describe">{{ describe }}</p>
    {%- endif %}
      <ul class="entries">
        <li>
          <div class="box gradient rounded shadow">
            <ul class="entry">
              <form method="post">
                <ul>
    {%- from "macro.html" import render_field %}
    {%- for fieldName in fields %}
      {{ render_field(form[fieldName], data_name, allow_reorder) }}
    {%- endfor %}
                </ul>
    {{ form.submit() }}
                <input type="button" id="cancel" name="cancel" onClick="window.location.assign({{ url_for(".index") }})" value="Cancel" />
              </form>
            </ul>
          </div>
        </li>
      </ul>
  {%- endblock %}
