{% extends "base.html" %}
  {% block title %}Edit {{ subject|capitalize }}{% endblock %}
  {% block content %}
      <script src="{{ url_for('static', filename='edit.js') }}"></script>
      <ul class="entries">
        <li>
          <div class="box gradient">
            <ul class="entry">
              <form method="post">
    {%- for fieldName in fields %}
      {%- if item[fieldName] is mapping %}
                <table class="{{ subject }}">
        {%- if item[fieldName]['columns'] != [] %}
                  <tr>
          {%- for heading in item[fieldName]['columns'] %}
                    <th>{{ heading|capitalize }}</th>
          {%- endfor %}
                    <th><a class="append white" id="append_row" onClick="append_row()">+</a></th>
                  </tr>
        {%-  endif %}
        {%- for key, tuple in item[fieldName].items() if not key == 'columns' %}
                  <tr>
          {%- for columnName in item[fieldName]['columns'] %}
                    <td>
                      <label for="{{ columnName }}-{{ key }}" >{{ columnName|capitalize }}:</label>&nbsp;
            {%- if constrain[columnName] is integer %}
                      <input type="number" id="{{ columnName }}-{{ key }}" name="{{ columnName }}-{{ key }}" min="1" max="{{ constrain[columnName] }}" value="{{ item[fieldName][key][columnName] }}"/>
          {%- else %}
                      <select id="{{ columnName }}-{{ key }}" name="{{ item[fieldName]['columns'][loop.index0]}}-{{ key }}">
            {%- for constraint in constrain[columnName] %}
                        <option value="{{ constraint }}" {% if constraint == item[fieldName][key][columnName] %}selected{% endif %}>{{ constraint }}</option>
            {%- endfor %}
                      </select>
          {%- endif %}
                    </td>
          {%- endfor %}
                    <td><a class="delete warning" id="delete_row-{{ loop.index0 }}" onClick="delete_row(this)">x</a></td>
                  </tr>
        {%- endfor %}
                </table>
      {%- else %}
        {%- if fieldName in constrain.keys() %}
        {%- else %}
                <li>
                  <label for="{{ fieldName }}" class="{{ fieldName }}">{{ fieldName|capitalize }}:</label>
                  <textarea class="{{ fieldName }}" name="{{ fieldName }}">{{ item[fieldName] }}</textarea>
                </li>
        {%- endif %}
      {%- endif %}
    {%- endfor %}
                <input type="submit" id="save" name="save" value="Save" />
                <input type="button" id="cancel" name="cancel" onClick="javascript:history.back()" value="Cancel" />
              </form>
            </ul>
          </div>
        </li>
      </ul>
  {%- endblock %}
