    <footer>
      <nav>
        <ul>
          <li>
            <h4>Drizzle</h4>
              <a href="{{ url_for('index') }}">
                Dash&shy;board
              </a>
              <a href="{{ url_for('config.index') }}">
                App Con&shy;fig&shy;ura&shy;tion
              </a>
          </li>
          <li>
            <h4>Edit app data</h4>
            <a href="{{ url_for('board.index') }}">
              {{ config.BOARD_NAME | capitalize | pluralize }}
            </a>
            <a href="{{ url_for('relay.index') }}">
              {{ config.RELAY_NAME | capitalize | pluralize }}
            </a>
            <a href="{{ url_for('sequencer.index') }}">
              {{ config.SEQUITUR_NAME | capitalize | pluralize }}
            </a>
            <a href="{{ url_for('schedule.index') }}">
              {{ config.SCHEDULE_NAME | capitalize | pluralize }}
            </a>
          </li>
          <li>
            <h4>More info</h4>
            <a href="#">Docu&shy;men&shy;ta&shy;tion</a>
            <a href="#">Home&shy;page</a>
            <a href="https://www.github.com/jwrg/drizzle">Github</a>
          </li>
        </ul>
        <ul>
          <li>
            <p>
              Lovingly hand-crafted by
              <a href="https://www.github.com/jwrg">jwrg</a>,
              a real human person.
            </p>
          </li>
        </ul>
      </nav>
    </footer>
