{% extends "base.html" %}
  {% block title %}{{ subject }} Menu{% endblock %}
  {% block content %}
      <h2>{{ prompt }}</h2>
    {%- for label, endpoint, arguments, active in actions %}
      <input type="button" value="{{ label }}" class="gradient keypad zone
    {%- if active == True %} active" onclick="{%- else %}" onclick="{%- endif -%}
    {%- if confirm == True %}if (window.confirm('You sure?')){ {% endif %}window.open('{{ url_for(endpoint, **arguments) }}', '_parent'){%- if confirm == True %} }{%- endif %}" />
    {%- endfor -%}
  {% endblock %}
