{% extends "base.html" %}
  {% block title %}{{ subject|capitalize }} Menu{% endblock %}
  {% block content %}
      <h2>{{ prompt }}</h2>
      <form method="post">
        <div class="range-wrapper" id="range-wrapper">
          <input type="range" class="range" id="time" name="time" value={{ default_minutes }} min={{ min_minutes }} max={{ max_minutes }} />
          <output class="range-bubble" id="range-bubble"></output>
        </div>
        <div class="button-wrapper" id="button-wrapper">
    {%- for label, action, endpoint, arguments, confirm, active, remaining in actions %}
          <input type="submit" value="
      {%- if active %}{{ remaining }}{% else %}{{ label }}{% endif -%}
          " class="gradient keypad zone
      {%- if active %} active{% endif -%}
          " name="{{ label }}" onclick="
      {%- if confirm %}return window.confirm('Really {{ action }} {{ subject }} {{ label }}?'){% endif -%}
          " formaction="{{ url_for(endpoint, **arguments) }}" />
    {%- endfor -%}
        </div>
      </form>
      <script src="{{ url_for('static', filename='keypad.js') }}"></script>
  {% endblock %}
