{% extends "base.html" %}
  {% block title %}{{ subject|capitalize }} List{% endblock %}
  {% block content %}
      <ul class="entries">
    {%- if allow_create %}
        <li><div class="box gradient rounded shadow">
          <ul id="new-entry" class="entry">
            <li><p><a class="success" href="new/">Create a new {{ subject }}</a></p></li>
          </ul>
        </div></li>
    {%- endif %}
    {%- for id, entry in items.items()|reverse %}
        <li><div class="box gradient rounded shadow {%- if entry["active"] %} active{%- else %} inactive{%- endif %}{%- if entry["running"] %} running{%- else %} stopped{%- endif %}">
          <ul id="entry-{{ loop.index0 }}" class="entry">
      {%- for fieldName, fieldData in entry["fields"].items() %}
        {%- if fieldName == data_name and fieldData != {} %}
            <table>
              <caption>{{ fieldName|capitalize }}:</caption>
          {%- if data_headings != [] %}
              <tr>
            {%- for heading in data_headings %}
                <th>{{ heading|capitalize }}</th>
            {%- endfor %}
              </tr>
          {%- endif %}
          {%- for key, value in fieldData.items() %}
              <tr>
            {%- for columnName in data_headings %}
            <td><!--{{ columnName|capitalize }}:&nbsp;-->{{ value[columnName] }}</td>
            {%- endfor %}
              </tr>
          {%- endfor %}
            </table>
        {%- elif fieldName != data_name %}
            <li class="{{ fieldName }}">
            {%- if fieldName not in ["name", "description"] %}{{ fieldName|capitalize|replace("_", " ") }}:&nbsp;{% endif -%}
            {{ fieldData }}</li>
        {%- endif %}
      {%- endfor %}
            <nav>
      {%- for action_type, actions in entry["actions"].items() %}
        {%- for action_id, action in actions.items() %}
          {%- if (action_type == "stopped" and not entry["running"]) or (action_type == "running" and entry["running"]) or (action_type == "inactive" and not entry["active"]) or (action_type == "active" and entry["active"]) or action_type == "always" %}
              <a class="{{ action_id }}" onClick="
                {%- if action["confirm"] is defined -%}
              if(window.confirm('{{ action["confirm"]|replace("'", "&#34;") }}')){
                {%- endif -%}
              window.open('{{ url_for(action["endpoint"], **action["args"]) }}','_parent')
                {%- if action["confirm"] is defined -%}
              }
                {%- endif -%}
              ">{{ action["name"] }}</a>
          {%- endif -%}
        {%- endfor %}
      {%- endfor %}
            </nav>
          </ul>
        </div></li>
    {%- endfor %}
    {%- if allow_create %}
        <li><div class="box gradient rounded shadow">
          <ul id="new-entry" class="entry">
            <li><p><a class="success" href="new/">Create a new {{ subject }}</a></p></li>
          </ul>
        </div></li>
    {%- endif %}
      </ul>
  {%- endblock %}
