{% macro render_field(field, data_name, allow_reorder) %}
  {%- if field.type == "FieldList" %}
                </ul>
                <ul>
                  <input type="button" id="append" name="append" onClick="append_row()" value="Add {{ data_name }}" />
                  <fieldset>
                    <legend class="fieldlist">{{ data_name | pluralize | capitalize }}</legend>
    {%- for subfield in field.entries %}
                    <li class="{{ subfield.name.split('-')[0] }}">
                      {{ subfield(**kwargs) | safe }}
      {%- if allow_reorder %}
                      <input type="button" id="demote" name="demote" onClick="demote_row(this)" value="Move Up" />
                      <input type="button" id="promote" name="promote" onClick="promote_row(this)" value="Move Down" />
      {%- endif %}
                      <input type="button" id="delete" name="delete" onClick="if(window.confirm('Are you sure you want to delete this {{ data_name }}?')){delete_row(this)}" value="Delete" />
                    </li>
    {%- endfor %}
                  </fieldset>
  {%- else %}
                  <li class="{{ field.name }}
    {%- if field.widget.input_type == "hidden" %} hidden">
    {%- else %}">
                    {{ field.label }}
    {%- endif %}
                    {{ field(**kwargs) | safe }}
                  </li>
  {%- endif -%}
  {%- if field.errors %}
                  <ul class="error">
    {%- for error in field.errors %}
                    <li>{{ error }}</li>
    {%- endfor %}
                  </ul>
  {%- endif -%}
{% endmacro %}
