<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drizzle Sequences Menu</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Drizzle</h1>
      <h3>Make it rain.</h3>
      <h2>Sequences list</h2>
      <ul class="entries">
        {% for id, obj in sequences.items() -%}
        <li>
          <div class="box gradient {%- if id == active %} active {%- endif %}">
          <ul id="entry-{{ id }}" class="entry">
            <li class="inactive id">Id: {{ id }}</li>
            <li class="name"><strong>{{ obj.name }}{%- if id == active %} (active) {%- endif %}</strong></li>
            <hr class="navy" />
            <li class="description">{{ obj.description }}</li>
            <li class="inactive datetime">Created: {{ obj.created }}</li>
            <li class="inactive datetime">Modified: {{ obj.modified }}</li>
            <br />
            <table class="sequence">
              <tr>
                <th>Zone #</th>
                <th>Duration (minutes)</th>
              </tr>
              {% for tuple in obj.sequence -%}
              <tr>
                <td>Zone {{ tuple[0] }}</td>
                <td>{{ tuple[1] }} minute{% if tuple[1] != 1 %}s{% endif %}</td>
              </tr>
              {% endfor -%}
            </table>
            <br />
            {% if id == active %}<a class="warning" onClick="if(window.confirm('Really stop sequence {{ obj.name }}?')){window.open('stop/','_parent')}">Stop</a>{% else %}
            {% if active == '' %}<a class="success" href="run/{{ id }}/">Run</a>&nbsp;|{% endif %}
            <a class="caution" href="edit/{{ id }}/">Edit</a>&nbsp;|
            <a class="warning" onClick="if(window.confirm('Really delete {{ obj.name }}?')){window.open('delete/{{ id }}/','_parent')}">Delete</a>
            {% endif -%}
          </ul>
          </div>
        </li>
        {% endfor -%}
        <li>
          <div class="box gradient">
          <ul id="new-entry" class="entry">
            <li class="name"><p><a class="success" href="new/">Create a new sequence</a></p></li>
          </ul>
          </div>
      </ul>
    </div>
  </body>
</html>
