<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drizzle Sequences Menu</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Drizzle</h1>
      <h3>Make it rain.</h3>
      <h2>Sequences list</h2>
      <ul class="entries">
        {% for id, obj in sequences.items() -%}
        <li>
          <div class="box gradient">
          <ul id="entry-{{ id }}" class="entry">
            <li class="inactive id">Id: {{ id }}</li>
            <li class="name"><strong>{{ obj.name }}</strong></li>
            <hr class="navy" />
            <li class="description">{{ obj.description }}</li>
            <li class="inactive datetime">Created: {{ obj.created }}</li>
            <li class="inactive datetime">Modified: {{ obj.modified }}</li>
            <br />
            <table class="sequence">
              <tr>
                <th>Zone #</th>
                <th>Duration (minutes)</th>
              </tr>
              {% for tuple in obj.sequence -%}
              <tr>
                <td>Zone {{ tuple[0] }}</td>
                <td>{{ tuple[1] }} minute{% if tuple[1] != 1 %}s{% endif %}</td>
              </tr>
              {% endfor -%}
            </table>
            <br />
            <a class="success" href="run/{{ id }}/">Run</a>&nbsp;|
            <a class="caution" href="edit/{{ id }}/">Edit</a>&nbsp;|
            <a class="warning" href="delete/{{ id }}/">Delete</a>
          </ul>
          </div>
        </li>
        {% endfor -%}
        <li>
          <div class="box gradient">
          <ul id="new-entry" class="entry">
            <li class="name"><p><a class="success" href="new/">Create a new sequence</a></p></li>
          </ul>
          </div>
      </ul>
    </div>
  </body>
</html>
