<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drizzle Time Menu</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <h1>Drizzle</h1>
  <h3>Make it rain.</h3>
  <h2>Activate zone {{ zone }}</h2>
  <p>For how long?</p>
  {% for num in [ 1, 5, 10, 15, 20, 30 ] -%}
  <input type="button" value="{{ num }} minutes" onclick="window.location.href='/confirm/{{ zone }}/{{ num }}/'" \>
  {% endfor -%}
  <input type="button" value="Cancel" class="cancel" onclick="window.location.href='/'" />
</body>
</html>
