<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drizzle Zone Menu</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
  <h1>Drizzle</h1>
  <h3>Make it rain.</h3>
  <h2>Activate which zone?</h2>
  {% for num in range(0,num_zones) -%}
  <input type="button" value="{{ num + 1 }}"
  {%- if num is in(active) %} class="active" onclick="window.location.href='/confirm/{{ num + 1 }}/0/'"
  {%- else %} onclick="window.location.href='/time/{{ num + 1 }}/'"
  {%- endif %} />
  {% endfor -%}
  {%- if pump != None %}<input type="button" value="Pump" 
  {%- if "Pump" is in(active) %} class="active" onclick="window.location.href='/confirm/0/0/'"
  {%- else %} onclick="window.location.href='/time/0/'"
  {%- endif %} />
  {% endif -%}
  </div>
</body>
</html>
